@import url('https://fonts.googleapis.com/css?family=Hepta+Slab|Lexend+Deca|Montserrat:400,700&display=swap');

* {
    box-sizing: border-box;

}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background: #ddd;
}

/*--------------------------------------Estilos base!--------------------------------------*/
img {
    display: block;
    width: 100%;
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.container {
    width: 100%;
    margin: auto;
}

.container--flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}

.container--slider {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.column {
    width: 100%;
}

/*--------------------------------------Estilos del Menu--------------------------------------*/

.main-nav {
    width: 100%;
    position: relative;
    z-index: 2000;
    padding: 10px;
}

.icon-menu {
    display: block;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    line-height: 39px;
    text-align: center;
    cursor: pointer;
    font-size: 1.5em;
}

.social-icon {
    display: flex;
    justify-content: space-between;
}

.social-icon [class*="icon-"] {
    color: rgba(0, 0, 0);
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    width: 35px;
    height: 35px;
    background: #fff;
    border-radius: 50%;
}

.social-icon__link {
    text-decoration: none;
}

.menu {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, .85);
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    height: 0;
    overflow: hidden;
    transition: height .3s linear;
}

.menu__link {
    display: block;
    padding: 15px;
    color: #fff;
    text-decoration: none;
}

.menu__link:hover {
    background: rgba(82, 20, 100);
}

.menu__link--select {
    background: rgba(82, 20, 100);
}

.mostrar {
    height: 300px;
}



/*--------------------------------------Estilos de banner------------------------------------*/

.banner {
    margin-top: -60px;
    position: relative;
}

.banner:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    top: 0;
}

.banner_img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.banner__content {
    width: 90%;
    color: #fff;
    text-align: center;
    position: absolute;
    z-index: 1500;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(90%);
    font-size: 2em;
}

/*--------------------------------------Estilos de principales-------------------------------*/

.group--color .container {
    background: rgba(82, 20, 100);
    color: #fff;
    padding: 10px;
    text-align: center;
}

.main__title {
    margin: 15px 0;
    font-size: 1.8em;
    font-family: 'Hepta Slab', cursive;
    font-weight: 100;
}

.main__text {
    padding: 20px;
}

.column__title {
    font-size: 1.3em;
}

.main__about__description .column:nth-child(2) {
    padding: 15px;
}

.btn {
    display: block;
    text-align: center;
    text-decoration: none;
    width: 120px;
    background: rgba(82, 20, 100);
    color: #fff;
    padding: 10px;
    margin: 10px auto;
}

.btn--reserva {
    border-radius: 15px;
    -webkit-transition:  all .3s ease;
    -o-transition: all .3s ease;
    transition:  all .3s ease;
}

.btn--reserva:hover {
    transform:  scale(1.2,1.2);
}

.group__title {
    font-family: 'Hepta Slab', cursive;
    text-align: center;
    font-weight: 100;
    font-size: 1.8em;
    margin: 30px;
}

.today-special .column {
    text-align: center;
    margin-bottom: 30px;
}

.today-special__img {
    margin: auto;
    max-width: 350px;
}

.today-special__title {
    font-size: 1.3em;
    padding-bottom: 20px;
    padding-top: 10px;
}

.today-special__price {
    font-size: 1.5em;
    color: rgba(82, 20, 100);
    font-weight: bold;
}


/*--------------------------------------Estilos de footer------------------------------------*/

.main-footer {
    background: #222;
    color: #fff;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: .8em;
}

.copy {
    text-align: center;
    margin: auto;
    margin-top: 15px;
}

.main-footer [class*="icon-"] {
    color: #fff;
    text-decoration: none;
}

.main-footer [class*="icon-"]:before {
    position: relative;
    top: 1px;
    right: 3px;
}


/*--------------------------------------Estilos responsive-----------------------------------*/

@media screen and (min-width:480px) {

    .main-nav {
        background: rgba(82, 20, 100, .55);
    }

    .banner {
        margin-top: -190px;
        z-index: -1000;
    }

    .banner__content {
        font-size: 2em;
    }

    .main__about__description .column--50:nth-child(1) img {
        width: 100%;
        height: 330px;
    }

    .main__about__description .column:nth-child(2) {
        padding-left: 20px;
        font-size: .9em;
    }

    .main__about__description .btn {
        margin: 0;
    }

    .today-special .column {
        border: 5px solid rgba(82, 20, 100, .55);
        padding: 5px;
        border-radius: 5px;
    }

    .today-special__img {
        height: 200px;
        object-fit: cover;
    }

    .main__img {
        height: 100%;
    }

    .main-footer .container--flex {
        align-items: flex-start;
    }

    .column--50 {
        width: 49%;
    }

    .column--50-25 {
        width: 49%;
    }

    .column--33 {
        width: 32%;
    }

}

@media screen and (min-width:768px) {

    .main__title {
        font-size: 2.2em;
    }

    .main__about__description {
        margin-top: 30px;
    }

    .main__about__description .column--50:nth-child(1) img {
        width: 100%;
        height: 320px;
    }

    .main__about__description .column--50:nth-child(2) {
        font-size: 1em;
    }

    .main__about__description .column--50:nth-child(2) .column__text {
        line-height: 30px;
    }

    .column--50-25 {
        width: 24.5%;
    }

    .column__title {
        font-size: 1em;
    }

    .group__title {
        font-size: 2.2em;
    }
}

@media screen and (min-width:840px){
    .icon-menu {
        display: none;
    }

    .menu {
        position: static;
        display: flex;
        height: auto;
        width: auto;
        background: rgba(255, 255, 255, 0)
    }

    .menu__link {
        padding: 20px;
        background: rgba(255, 255, 255, 0);
    }

    .menu__link--select {
        background: rgba(82, 20, 100);
    }
}

@media screen and (min-width:1024px) {

    .container {
        width: 1000px;
    }


    .social-icon {
        padding: 10px;
    }

    .main-header__contactInfo__phone,
    main-header__contactInfo__address {
        padding-right: 0;
        font-size: 1.155em;
    }

    .main-nav {
        padding: 0;
    }

    .banner_img {
        height: 100vh;
    }

    .banner__content {
        font-size: 2.5em;
    }



    .group--color .container {
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 20px;
    }

    .main__title {
        font-size: 2.3em;
    }

    .main__about__description .column--50:nth-child(1) img {
        width: 100%;
        height: 320px;
    }

    .main__about__description .column--50:nth-child(2) .column__text {
        line-height: 40px;
    }

    .today-special__title {
        font-size: 1.4em;
    }

    .today-special__price {
        font-size: 1.8em;
    }

    .main-footer {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

@media screen and (min-width:1600px) {

    .container {
        width: 1400px;
    }

    .today-special__img {
        height: 300px;
    }
}


/*--------------------------------------Estilos Nosotros------------------------------------*/
.group__us {
    font-family: 'Hepta Slab', cursive;
    text-align: center;
    font-weight: 100;
    margin: 30px;
}

.us__title {
    font-size: 1.8em;
    padding-bottom: 20px;
    padding-top: 10px;
    font-weight: bold;
}

.about-us {
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(82, 20, 100);
    color: rgba(82, 20, 100)
}

.us__img {
    text-align: center;
    border: 2px solid rgba(82, 20, 100);
    border-radius: 10px;
}

/*----------------------------------Estilos responsive nosotros----------------------------------------*/

@media screen and (min-width:480px) {

    .us__img {
        height: 300px;
    }

    .about-us {
        border-bottom: none;
    }

    .group__us .column:nth-child(2) p {
        border-left: 1px solid rgba(82, 20, 100, .55);
    }

}

@media screen and (min-width:768px) {
    .group__us .column p {
        padding: 2px;
        margin: 10px;
    }

    .group__us .column:nth-child(2) p {
        border-left: 1px solid rgba(82, 20, 100, .55);
    }

    .us__img {
        height: 400px;
    }
}

@media screen and (min-width:1024px) {
    .us__img {
        height: 500px;
        width: 400px;
        transform: translateX(35%);
    }

    .about-us {
        line-height: 30px;
    }

    .group__us .column:nth-child(2) p {
        border-left: none;
    }

}
/*--------------------------------------Estilo Contacto----------------------------------------------*/

.btn--contacto{
    background-color:rgba(80, 50, 100);
    border-radius: 5px;
}

.btn--contacto:hover{
    background: #222;
}
/*-----------------------------------------Slider-----------------------------------------*/

.tslider {
    max-width: 100%;
    max-height: 780px;
    position: relative;
}

.img__slider {
    max-height: 780px;
    min-height: 780px;
}

.button{
    color: #ddd;
    background: rgba(82, 20, 100);
    font-size: 30px;
    margin: 10px;
    top: 350px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    -webkit-transition:  all .3s ease;
    -o-transition: all .3s ease;
    transition:  all .3s ease;
}


.button:hover{
    cursor: pointer;
    transform:  scale(1.2,1.2);
}
.prev{
    left: 2%;
    top: calc(50%-70px);
}
.next{
    
    right: 2%;
    top: calc(50%-70px);
    
}

/*------------------------------------------------Responsive slider.----------------------------------------------------------*/

@media screen and (min-width:1024px) {

   
}

/* --------------------------Galeria----------------------------------------- */
.gallery__img{
    object-fit: cover;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 0.5s;
    border: 10px #222;
}

.gallery__img:hover {
    transform: scale(1.02);
}

.gallery__img--big {
    height: 400px;
}

.gallery__img--small {
    height: 200px;
}

.modal {
    width: 100%;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2500;
    display: none;
}

.modal__content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.modal__img {
    width: 70%;
}

.modal__boton {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    font-weight: bold;
    width: 50px;
    height: 50px;
    line-height: 50px; 
    background: rgba(82, 20, 100);
    border-radius: 50%;
    text-align: center;
    font-size: 1.5em;
    -webkit-transition:  all .3s ease;
    -o-transition: all .3s ease;
    transition:  all .3s ease;
}

.modal__boton:hover{
    cursor: pointer;
    transform:  scale(1.2,1.2);
}

.modal__open {
    display: block;
}

/*------------------------Formulario------------------------*/
.formulario{
    position: relative;
}
.formulario__input,.formulario__label{
    display: inline;
    
}

.formulario__input{
    padding:6px;
    background:rgb(255, 255, 255);

    border: 1px solid rgb(0, 0, 0)
}
.formulario__input:focus{
    outline: 1px  solid rgb(17, 195, 218)
}























