{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Hotel Atkinson Manior</title>
    <meta name="viewport"
        content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0">
    <link rel="stylesheet" href="{% static 'font/fontello.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/bootstrap.min.js' %}">
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>

<body>
    <!--Menu!-->
    <nav class="main-nav">
        <div class="container container--flex">
            <span class="icon-menu" id="btnmenu"></span>
            <ul class="menu" id="menu">
                {% if user.is_authenticated %}
                <li class="menu__item"><a href="{% url 'index' %}" class="menu__link">Inicio</a></li>
                <li class="menu__item"><a href="{% url 'Nosotros' %}" class="menu__link">Nosotros</a></li>
                <li class="menu__item"><a href="{% url 'habitaciones' %}" class="menu__link">Habitaciones</a></li>
                <li class="menu__item"><a href="{% url 'contacto' %}" class="menu__link ">Contacto</a></li>
                <li class="menu__item"><a href="{% url 'Menu Administrador' %}" class="menu__link">Menu</a></li>
                <li class="menu__item"><a href="{% url 'logout' %}" class="menu__link">Cerrar Sesion</a></li>
                
                {%else%}
                <li class="menu__item"><a href="{% url 'index' %}" class="menu__link">Inicio</a></li>
                <li class="menu__item"><a href="{% url 'Nosotros' %}" class="menu__link">Nosotros</a></li>
                <li class="menu__item"><a href="{% url 'habitaciones' %}" class="menu__link">Habitaciones</a></li>
                <li class="menu__item"><a href="{% url 'contacto' %}" class="menu__link ">Contacto</a></li>
                <li class="menu__item"><a href="{% url 'login' %}" class="menu__link">Iniciar Sesión</a></li>
                {%endif%}
            </ul>
            <div class="social-icon">
                <a href="" class="social-icon__link"><span class="icon-face"></span></a>
                <a href="" class="social-icon__link"><span class="icon-insta"></span></a>
            </div>
        </div>
    </nav>
    <section class="banner">
        <img src="{% static 'img/bannerN.jpg' %}" alt="" class="banner_img">
        <div class="banner__content">Vive una experiencia unica, en un grato ambiente familiar.</div>
    </section>
    {% block content %}
    
    {% endblock %}
    
    <!--Footer!-->
    <footer class="main-footer">
        <div class="container container--flex">
            <div class="column column--33">
                <h2 class="column__title">Por que visitarnos?</h2>
                <p class="column__txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque quae ab fuga
                    sint, quo, iure modi magni, ullam amet voluptatibus vero, ea quas! Aliquid nihil quis minima,
                    impedit. Soluta, sint.</p>
            </div>
            <div class="column column--33">
                <h2 class="column__title">Contactanos</h2>
                <p class="column__txt">Urb Las Dunas 123 - Valpo, Chile</p>
                <p class="column__txt">Telefono: 999-999-999</p>
                <p class="column__txt">consultas@gmail.com</p>
            </div>
            <div class="column column--33">
                <h2 class="column__title">Siguenos en nuestras redes sociales</h2>
                <p class="column__txt"><a href="facebook.com" class="icon-face">Facebook</a></p>
                <p class="column__txt"><a href="instagram.com" class="icon-insta">Instagram</a></p>
            </div>
            <p class="copy">2019 Hotel Atkinson Manior ! Todos los derechos resevados</p>
        </div>
    </footer>
    <script src="{% static 'js/menu.js' %}"></script>
    <script src="{% static 'js/carrousel.js' %}"></script>
</body>

</html>