{% extends 'atkn/base.html' %}
{% block content %}
    <!--Comienzo del main!-->
    <main class="main">
        <section class="group group--color">
            <div class="container">
                <h2 class="main__title">Rellena con tus datos!</h2>
                <p class="main__text">Rellena los siguientes campos con los datos solicitados para contactarte con
                    nosotros!</p>
            </div>
        </section>
        <!--Formulario!-->
        <section class="group group--color formulario">
            <p>Cotiza!</p>
            <input type="number" value="personas" >
            <input type="number" value="dias">
            <FORM Name="myform">
                    <LABEL>Quantity:</LABEL>
                    <SELECT NAME="Item" onChange="calculatePrice()" id="Item" onChange="calculateOnChange">
                        <OPTION value="1">1</OPTION>
                        <OPTION value="2">2</OPTION>
                        <OPTION value="3">3</OPTION>
                        <OPTION value="4">4</OPTION>
                        <OPTION value="5">5</OPTION>
                        <OPTION value="6">6</OPTION>
                        <OPTION value="7">7</OPTION>
                        <OPTION value="8">8</OPTION>
                    </SELECT>
                </FORM>

        </section>

        <section class="group group--color formulario">
            <form action="" method="POST"  onsubmit="return validarForm();">
            <div class="container">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="btn btn--contacto" value="Contactenos!"> 
            </div>
        </form>
        </section>
    </main>
{% endblock %}