{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Hotel Atkinson Manior</title>
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontello.css' %}">
</head>
<body>
    <nav class="main-nav">
        <div class="container container--flex">
            <span class="icon-menu" id="btnmenu"></span>
            <ul class="menu" id="menu">
                <li class="menu__item"><a href="{% url 'index' %}" class="menu__link">Inicio</a></li>
                <li class="menu__item"><a href="{% url 'Nosotros' %}" class="menu__link">Nosotros</a></li>
                <li class="menu__item"><a href="{% url 'habitaciones' %}" class="menu__link menu__link--select">Habitaciones</a></li>
                <li class="menu__item"><a href="servicios.html" class="menu__link">Servicios</a></li>
                <li class="menu__item"><a href="{% url 'contacto' %}" class="menu__link">Contacto</a></li>
                <li class="menu__item"><a href="medioambiente.html" class="menu__link">Sustentabilidad</a></li>
            </ul>
            <div class="social-icon">
                <a href="" class="social-icon__link"><span class="icon-face"></span></a>
                <a href="" class="social-icon__link"><span class="icon-insta"></span></a>
            </div>
        </div>
    </nav>
    
    <section class="banner">
        <img src="{% static 'img/img1.jpg' %}" alt="" class="banner_img">
        <div class="banner__content">Comodidad a tu alcance.</div>
    </section>
    
    <main class="main">
        <section class="group group--color">
            <div class="container">
                <h2 class="main__title"> Estas son nuestras habitaciones!</h2>
                <p class="main__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit non ullam quia repudiandae nam voluptatibus, quos pariatur doloribus consequatur molestias, eius libero necessitatibus ratione minus! Non pariatur, commodi porro rem!</p>
            </div>
        </section>
        
        <section class=" group main__about__description">
            <div class="container container--flex main__img">
                <div class="column column--50">
                    <img src="{% static 'img/img2.jpg' %}" alt="">
                </div>
                <div class="column column--50">
                    <h3 class="column__tittle">Experimenta una comodidad en tu viaje</h3>
                    <p class="column__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, accusamus quaerat perferendis nesciunt sint officiis sunt natus aspernatur quos eligendi, inventore ad eos accusantium, assumenda alias dolore vero repellat. Aliquam.</p>
                    <a href="contacto.html" class="btn btn--reserva">Reserva</a>
                </div>
            </div>
        </section>

        <section class=" group main__about__description">
            <div class="container container--flex main__img">
                <div class="column column--50">
                    <img src="{% static 'img/img2.jpg' %}" alt="">
                </div>
                <div class="column column--50">
                    <h3 class="column__tittle">Experimenta una comodidad en tu viaje</h3>
                    <p class="column__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, accusamus quaerat perferendis nesciunt sint officiis sunt natus aspernatur quos eligendi, inventore ad eos accusantium, assumenda alias dolore vero repellat. Aliquam.</p>
                    <a href="contacto.html" class="btn btn--reserva">Reserva</a>
                </div>
            </div>
        </section>

        <section class=" group main__about__description">
            <div class="container container--flex main__img">
                <div class="column column--50">
                    <img src="{% static 'img/img2.jpg' %}" alt="">
                </div>
                <div class="column column--50">
                    <h3 class="column__tittle">Experimenta una comodidad en tu viaje</h3>
                    <p class="column__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, accusamus quaerat perferendis nesciunt sint officiis sunt natus aspernatur quos eligendi, inventore ad eos accusantium, assumenda alias dolore vero repellat. Aliquam.</p>
                    <a href="contacto.html" class="btn btn--reserva">Reserva</a>
                </div>
            </div>
        </section>

        <section class=" group main__about__description">
            <div class="container container--flex main__img">
                <div class="column column--50">
                    <img src="{% static 'img/img2.jpg' %}" alt="">
                </div>
                <div class="column column--50">
                    <h3 class="column__tittle">Experimenta una comodidad en tu viaje</h3>
                    <p class="column__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, accusamus quaerat perferendis nesciunt sint officiis sunt natus aspernatur quos eligendi, inventore ad eos accusantium, assumenda alias dolore vero repellat. Aliquam.</p>
                    <a href="contacto.html" class="btn btn--reserva">Reserva</a>
                </div>
            </div>
        </section>
        
    </main>
    <footer class="main-footer">
            <div class="container container--flex">
                <div class="column column--33">
                    <h2 class="column__title">Por que visitarnos?</h2>
                    <p class="column__txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque quae ab fuga sint, quo, iure modi magni, ullam amet voluptatibus vero, ea quas! Aliquid nihil quis minima, impedit. Soluta, sint.</p>
                </div>
                <div class="column column--33">
                    <h2 class="column__title">Contactanos</h2>
                    <p class="column__txt">Urb Las Dunas 123 - Valpo, Chile</p>
                    <p class="column__txt">Telefono: 999-999-999</p>
                    <p class="column__txt">consultas@gmail.com</p>
                </div>
                <div class="column column--33">
                    <h2 class="column__title">Siguenos en nuestras redes sociales</h2>
                    <p class="column__txt"><a href="facebook.com" class="icon-face">Facebook</a></p>
                    <p class="column__txt"><a href="instagram.com" class="icon-insta">Instagram</a></p>
                </div>
                <p class="copy">2019 Hotel Atkinson Manior ! Todos los derechos resevados</p>
            </div>
        </footer>
    <script src="{% static 'js/menu.js' %}"></script>
</body>
</html>