{% extends 'atkn/base_admin.html' %}
{% block content %}
<div class="table-responsive container">
    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <td>email</td>
                <td>nombre </td>
                <td>comentario</td>
                <td>telefono </td>
                <td>fecha de inicio </td>
                <td>fecha de termino </td>
                <td>numero de personas </td>
            </tr>
        </thead>
        <tbody>
            {% if reservas %}
            {% for reservas in reservas %}
            <tr>
                <td>{{reservas.email}}</td>
                <td>{{reservas.nombre}}</td>
                <td>{{reservas.comentario}}</td>
                <td>{{reservas.telefono}}</td>
                <td>{{reservas.fecha_inicio}}</td>
                <td>{{reservas.fecha_fin}}</td>
                <td>{{reservas.num_personas}}</td>
            </tr>
            {% endfor %}
            {% else %}
            <h1> no hay reservas</h1>
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}