{% extends 'atkn/base.html' %}
{% block content %}
    <main class="main">
        <section class="group group--color">
            <div class="container">
                <h2 class="main__title">Conócenos y conoce nuestras ideas!</h2>
                <p class="main__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit non ullam quia repudiandae nam voluptatibus, quos pariatur doloribus consequatur molestias, eius libero necessitatibus ratione minus! Non pariatur, commodi porro rem!</p>
            </div>
        </section>
<!--Empleados!-->
        <section class="group__us">
            <h2 class="group__title">Nuestras Caras!</h2>
            <div class="container container--flex">
                <div class="column column--50">
                    <img src="" alt="" class="us__img">
                    <div class="us__title">Juanita</div>
                    <p class="about-us">Una Excelente cocinera internacional, sienta la calidad de una profesional con toque hogareño</p>
                </div>
                <div class="column column--50">
                    <img src="" alt="" class="us__img">
                    <div class="us__title">Pepito</div>
                    <p class="about-us">Administrador y recepcionista, afable y dispuesto a una grata converzacion y conocimiento de la region</p>
                </div>
            </div>
        </section>
<!-- Imagenes galeria! -->
        <div class="group gallery">
            <h2 class="group__title">Nuestras Vistas!</h2>
            <div class="container container--flex ">
                <div class="column column--33">
                    <img src="" alt="" class="gallery__img gallery__img--big">
                    <img src="" alt="" class="gallery__img gallery__img--small">
                </div>
                <div class="column column--33">
                    <img src="" alt="" class="gallery__img gallery__img--small">
                    <img src="" alt="" class="gallery__img gallery__img--big">
                </div>
                <div class="column column--33">
                    <img src="" alt="" class="gallery__img gallery__img--big">
                    <img src="" alt="" class="gallery__img gallery__img--small">
                </div>
            </div>
        </div>
    </main>

{% endblock %}