{% extends 'atkn/base.html' %}
{% load staticfiles %}
{% block content%}
<form method="post">
        
    <section class="group group--color">
        <div class="container c__login">
            <p>Ingresa tus credenciales!</p>
            {% csrf_token %}
            <table class="form-group">
                
                    {{form.as_table}}
                
            </table>
                <div class="form-group">

                    <input class="btn btn-secondary" type="submit" value="Ingresar" role="button">
                    <br>
                    <a href="{% url 'password_reset' %}" class="btn btn-secondary" role="button">Olvide mi contraseña </a>
                </div>
        </div>
    </section>
</form>
{% endblock %}