{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Hotel Atkinson Manior</title>
    <meta name="viewport"
        content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/fontello.css' %}">
    <link rel="stylesheet" href="{% static 'css\bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'js\bootstrap.min.js' %}">
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>

<body>
    <section class="group group--color">
        <div class="container">    
            <p>Recuperar contraseña</p>
            <form method="post">
                {%csrf_token%}
                <label for="id_email">Correo:</label>{{form.email}}
                <input type="submit" value="Enviar" class="btn btn--reserva">
            </form>
        </div>
    </section>
</body>